Django==3.2.15
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
django-filter==22.1
django-cors-headers==3.13.0
drf-yasg==1.21.3
django-redis==5.2.0
mysqlclient==2.1.1
redis==4.3.4
jinja2==3.1.2
requests==2.28.1
urllib3==1.26.12
pyjwt==2.4.0
PyYAML==6.0
lxml==4.9.1
Markdown==3.4.1
pycrypto==2.6.1
six==1.16.0
pillow==9.2.0
celery==5.2.7
django-celery-beat==2.3.0
django-celery-results==2.4.0
django-haystack==3.1.1
drf-haystack==1.8.11
whoosh==2.7.4
