Django==2.2.9
django-filter==2.2.0
djangorestframework==3.9.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
django-crontab==0.7.1
django-rest-swagger==2.2.0
django-softdelete-it==0.1
django-cors-headers==3.2.1
drf-renderer-xlsx==0.3.6
django-aliyun-oss2-storage==0.1.5
django-debug-toolbar==2.2
drf-yasg==1.17.0
django-redis==4.11.0
PyJWT==1.7.1
PyMySQL==0.9.3
mysqlclient==1.4.6
requests==2.22.0
pillow==7.0.0
xlwt==1.3.0
xlrd==1.2.0
pyotp==2.3.0
oss2==2.9.1
emoji==0.5.4
chardet==3.0.4
redis==3.3.11
pika==1.1.0
autopep8==1.4.4
flex==6.14.1
swagger-spec-validator==2.4.3
httpie==1.0.3
msgpack==0.6.2
celery==4.4.0
django-celery-beat==1.5.0
drf-haystack==1.8.6
whoosh==2.7.4
jieba==0.41
pycrypto==2.6.1
gevent==20.5.0
eventlet==0.25.2
django-celery-results==1.2.1
flower==0.9.4
aiohttp==3.6.2
# drf-extensions==0.5.1 注意 可能会应为drf版本引起不兼容，使用drf3.9没问题 原因是djangorestframework3.10与drf-yasg==1.15.0版本冲突
# pip install -U "celery[redis]"  # 使用redis作为Broker
# celery -A base_django_api worker -l info # 启动celery